header, main {
    display:flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 80px;
}

header{
    background-color: black;
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer{
    background-color: black;
}

